.page-content {
  max-width: 920px;
  margin: auto;
  margin-top: 40px;
}
.mdl-card.mdl-card--wide {
  width: 900px;
}
.mdl-card.mdl-card--short {
  height: 177px;
  min-height: 170px;
}
.mdl-card.mdl-card--short > * {
  margin: auto 0;
}
